* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.items {
  width: 98%;
  max-width: 1160px;
  /* min-width: 320px; */
  /* 320보다 작아지지 않는다 */
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  background-color: #ccc;
  height: 300px;
  width: 32%;
  margin-bottom: 16px;
}

@media (max-width:960px) {

  .item {
    width: 49%;
  }

  .item:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width:680px) {

  .item {
    width: 100%;
    margin-right: 0;
  }

  .item:nth-child(2) {
    margin-right: 0;
  }
}